* {
  outline: 1px solid red;
}

header {
  background-color: cornflowerblue;
}

button {
  justify-items: center;
}

main {
  background-image: url(https://i.pinimg.com/originals/a1/2f/3c/a12f3cd259218bc5109aa7ad88d9af47.png);
  background-size: cover;
  /* min-width: vh; */
  min-height: 100vh;
}
footer {
  background-color: cornflowerblue;
}

.hazelvid {
  text-align: center;
}
#maincontent {
  text-align: center;
}

.space {
  min-height: 5vh;
}
